.trusted-companies {
  text-align: center;
  background: #fff;
  padding: 60px 20px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.trusted-companies h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 40px;
  
}

/* Logo Slider */
.logo-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.logo-track {
  display: flex;
  width: calc(250px * 12);
  animation: scroll 15s linear infinite;
  margin-left: 40px;
}

.logo-track img {
  width: 160px;
  margin: 0 25px;
  object-fit: contain;
  /* filter: grayscale(100%); */
  transition: filter 0.8s ease;
}

.logo-track img:hover {
  filter: grayscale(0%);
}

/* Scroll Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .logo-track img {
    width: 120px;
    margin: 0 15px;
  }

  .trusted-companies h2 {
    font-size: 1.2rem;
  }
}
